<div class="sidebar">
    <div class="gadget">
        <h2>推荐文章</h2>
        <div class="clr"></div>
        <ul class="ex_menu">
            <li><a href="/article/1" title="测试文章1">测试文章1</a></li>
            <li><a href="/article/2" title="测试文章2">测试文章2</a></li>
            <li><a href="/article/3" title="测试文章3">测试文章3</a></li>
            <li><a href="/article/4" title="测试文章4">测试文章4</a></li>
            <li><a href="/article/5" title="测试文章5">测试文章5</a></li>
        </ul>
    </div>
</div>
<div class="clr"></div>